.trending {
  margin: 0;
  width: 100%;
  min-height: 2vh;

  .books-carousel {
    width: 73%;
  }

  .reading-feed {
    width: 23%;
  }
}

@media only screen and (max-width: 913px) {
  .reading-feed {
    display: none;
  }

  .books-carousel {
    width: 95% !important;
  }
}
