<div class='trending' fxLayout="row" fxLayoutAlign="space-around none">
  <div class='books-carousel' fxLayout="column" fxLayoutAlign="space-between none">
    <!-- Top 10 Trending right now  -->
    <app-books-carousel
      [booksSlides]='trendingNowData'
      headerTitle='Trending right now'
    ></app-books-carousel>

    <!-- Top 10 Trending this week  -->
    <app-books-carousel
      [booksSlides]='trendingWeekData'
      headerTitle='Trending this week'
    ></app-books-carousel>
  </div>

  <div class='reading-feed'>
    <app-reading-feed></app-reading-feed>
  </div>
</div>
