@import '../../../../../styles';

.headline {
  margin: 0 30% 0 30%;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 85px 42px rgba(0, 0, 0, 0.40);

  p {
    color: white;
    text-align: center;
    font-size: 3em;
  }

  .full-button {
    background-color: white;
    border: 3px solid white;
    border-radius: 5px;
    color: $dark-green;
    font-size: 1.2em;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;

    &:hover {
      box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.3);
    }
  }
}

.colored-footer {
  height: 20%;
  background: #4F5949;
}

@media only screen and (max-width: 600px) {

  .headline {
    margin: 10% 20% 0 20%;
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0 0 85px 42px rgba(0, 0, 0, 0.40);
  }

  .colored-footer {
    height: 10%;
    background: #4F5949;
  }
}
