<mat-card class="reading-feed-card">
  <mat-card-header>
    <div mat-card-avatar fxLayout="row" fxLayoutAlign="center center">
      <mat-icon> insert_chart_outlined</mat-icon>
    </div>
    <mat-card-title>Reading Feed</mat-card-title>
    <mat-card-subtitle>See what others have read</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span *ngIf="users && (users.length < 1)"
          class="no-books"
          fxLayout="row"
          fxLayoutAlign="center center"
    >No books finished yet.
    </span>
    <div class="scrollable-content" *ngIf="users">
      <div class="activity-row"
           *ngFor="let user of users"
           fxLayout="row"
           fxLayoutAlign="start center"
           fxLayoutGap="10px">
        <app-avatar [userNameInitial]="user.nameInitial"></app-avatar>
        <div class="description" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="3px">
          <span class="user-text"><b>{{user.username}}</b> has read</span>
          <span class="book-title"
                (click)="onBookTitleClick(user.book.url)"
                [matTooltip]="user.book.title"
          >{{user.book.title}}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
