@import "styles";

::ng-deep {
  .mat-mdc-card-avatar~.mat-mdc-card-header-text .mat-mdc-card-title {
    font-size: 14px !important;
    font-weight: 500;
  }
  .mat-mdc-card-avatar~.mat-mdc-card-header-text .mat-mdc-card-title, .mat-mdc-card-avatar~.mat-mdc-card-header-text .mat-mdc-card-subtitle {
    font-size: 12px;
    color: black;
  }
}

.reading-feed-card {
  border-radius: 0 20px 20px 0 !important;
  background-color: #F2EBE3;
  margin-top: 2em;
  max-width: 400px;
  height: 100%;
  max-height: 700px;

  .scrollable-content {
    //overflow-y: auto;
    width: 100%;
    height: auto;
    max-height: 590px;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background: white;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background: #D9D9D9;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #D9D9D9;
    }

    .activity-row {
      padding-left: 5px;
      height: 50px;
      background-color: white;
      margin: 10px;

      .description {
        width: 100%;

        .user-text {
          font-size: 14px;

          b {
            font-weight: 500;
          }
        }

        .book-title {
          font-size: 12px;
          font-style: italic;

          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          width: 80%;
          max-width: 80%;
        }
      }
    }
  }
}

