<mat-card class="reading-feed-card">
  <mat-card-header>
    <div mat-card-avatar fxLayout="row" fxLayoutAlign="center center">
      <mat-icon> insert_chart_outlined</mat-icon>
    </div>
    <mat-card-title>Reading Feed</mat-card-title>
    <mat-card-subtitle>See what others have read</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="activity-row">
<!--      <div class="avatar">U</div>-->
<!--      <div>-->
<!--        <span>User has read X.</span>-->
<!--      </div>-->
    </div>
  </mat-card-content>
</mat-card>
