<div class="wrapper"
     fxLayout="row"
     fxLayoutAlign="space-between none">
  <div class="menu">
    <div class="header-tab"
         fxLayout="row"
         fxLayoutAlign="center none">
      <div class="tab-title"
           (click)="onTabRedirect('bookshelves')">
        <span>Bookshelves</span>
      </div>
      <div class="tab-title active"
           (click)="onTabRedirect('categories')">
        <span>Categories</span>
      </div>
    </div>

    <div class="invisible-tabs" *ngIf="bookshelfCategories">
      <div class="menu-list">
        <ul>
          <li *ngFor="let bookshelf of bookshelfCategories">
            <div class="list-item">
              <div class="bookshelf-header"
                   fxLayout="row"
                   fxLayoutAlign="start center">
                 <mat-icon class="icon">collections_bookmark</mat-icon>
                <span class="title">{{bookshelf.bookshelfTitle}}</span>
              </div>

              <ul class="menu-sublist">
                <li class="menu-sublist-item"
                    *ngFor="let category of bookshelf.categories"
                    (click)="scrollToBookshelf(category.id)"
                >
                  <span class="subtitle" [matTooltip]="category.title">{{ category.title }}</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="books" *ngIf="bookshelfCategories">
    <ng-container *ngFor="let bookshelf of bookshelfCategories">
        <div class="books-container"
             *ngFor="let category of bookshelf.categories"
             [id]="category.id"
        >
          <div class="breadcrumbs">
            <span class="title" (click)="onBookshelfTitleClick(getHeaderRouteForBookshelf(bookshelf.bookshelfId))">
              {{bookshelf.bookshelfTitle}}
            </span>
            <span> > </span>
            <span class="subtitle"
                  (click)="onCategoryTitleClick(getHeaderRouteForCategory(category.id))"
            >
              {{getSliderTitle(category.title, category.totalBooks)}}
            </span>
          </div>

          <app-books-carousel
            [booksSlides]="category.books"
            [clickableHeaderTitle]="false"
            [showTopNumbers]="false"
          ></app-books-carousel>
        </div>
    </ng-container>
  </div>
</div>

