<div class="wrapper"
     fxLayout="row"
     fxLayoutAlign="space-between none">
  <div class="menu">
    <div class="header-tab"
         fxLayout="row"
         fxLayoutAlign="center none">
      <div class="tab-title active"
           (click)="onTabRedirect('bookshelves')">
        <span>Bookshelves</span>
      </div>
      <div class="tab-title"
           (click)="onTabRedirect('categories')">
        <span>Categories</span>
      </div>
    </div>

    <mat-tab-group class="invisible-tabs">
      <mat-tab>
        <div class="menu-list">
          <mat-list>
            <mat-list-item
              *ngFor="let bookshelf of bookshelfCategories">
              <mat-icon matListItemIcon>collections_bookmark</mat-icon>
              <div matListItemTitle class="title">{{bookshelf.bookshelfTitle}}</div>

              <mat-tab-group class="invisible-tabs">
                <mat-tab>
                  <div class="menu-sublist">
                    <mat-list>
                      <mat-list-item
                        *ngFor="let category of bookshelf.categories">
                        <div matListItemTitle class="subtitle">
                          <span [matTooltip]="category.title">
                            {{category.title}}
                          </span>
                        </div>
                      </mat-list-item>
                    </mat-list>
                  </div>
                </mat-tab>
              </mat-tab-group>

            </mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="books">

  </div>
</div>

