<div class="wrapper"
     fxLayout="row"
     fxLayoutAlign="space-between none">
  <div class="menu">
    <div class="header-tab"
         fxLayout="row"
         fxLayoutAlign="center none">
      <div class="tab-title active"
           (click)="onTabRedirect('bookshelves')">
        <span>Bookshelves</span>
      </div>
      <div class="tab-title"
           (click)="onTabRedirect('categories')">
        <span>Categories</span>
      </div>
    </div>

    <div class="item-row"
         *ngFor="let category of categories"
         [title]="category.title">
      <div class="category"
          fxLayout="row"
          fxLayoutAlign="start center" fxLayoutGap="32px">
        <mat-icon class="icon">library_books</mat-icon>
        <div>{{category.title}}</div>
      </div>

    </div>
  </div>
  <div class="books">

  </div>
</div>

