<div class="sidenav"
     (mouseenter)='toggleCollapse()'
     (mouseleave)='closeSidenav()'
     [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <button class="logo">L</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">Librarius</div>
  </div>
  <div class="user-info-container" fxLayout="column" fxLayoutAlign="space-around none">
    <div class='user'
         @fadeInOut *ngIf="collapsed">
      <div class='profile'>
        <!-- Profile picture -->
        <img src='./assets/cat.jpg'>
        <!-- Name -->
        <p>{{this.userName}}</p>
      </div>

      <div class='details' fxLayout="column" fxLayoutAlign="space-around center">
        <!-- Status -->
        <!-- Current points -->
      </div>
    </div>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
      >
        <mat-icon class="sidenav-link-icon" aria-hidden="false" aria-label="Example home icon" [fontIcon]='data.icon'></mat-icon>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
      </a>
    </li>
  </ul>
</div>
