<!-- CONTENTS  -->
<div class='banner'>
  <img src='assets/home/books_background.jpg' alt=''>
</div>

<!-- Top Section cu trending -->
<app-trending-section></app-trending-section>

<!-- Section cu trending 4 Genuri-->
<div class='collections'>
  <div class='header'>Recommended book collections</div>
  <div class="collection-container">
    <div class='collection-item bck-color1' (click)="redirectToCollection('collection1')">
      <div class='collection-description'>
        <span>Collection 1</span>
      </div>
    </div>

    <div class='collection-item bck-color2' (click)="redirectToCollection('collection2')">
      <div class='collection-description'>
        <span>Collection 2</span>
      </div>
    </div>

    <div class='collection-item bck-color3' (click)="redirectToCollection('collection3')">
      <div class='collection-description'>
        <span>Collection 3</span>
      </div>
    </div>

    <div class='collection-item bck-color4' (click)="redirectToCollection('collection4')">
      <div class='collection-description'>
        <span>Collection 4</span>
      </div>
    </div>
  </div>
</div>


<!-- Alte carti recomandate -->
<div>

</div>

<!-- Button catre toate cartile (route Explore) -->
<div>

</div>
