<div class='login-container' fxLayout="column" fxLayoutAlign="center center">
  <p>Sign in into your account</p>
  <form [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="column" fxLayoutAlign="space-around center">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput type='text' formControlName='username'>
      <mat-error *ngIf="loginForm.controls.username.invalid">
        {{getErrorMsgRequired(loginForm.controls.username)}}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.controls.password.invalid">
        {{getErrorMsgPwd(loginForm.controls.password)}}
      </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
