<div class="dashboard-header">
  <span>Your Dashboard</span>
</div>
<div class='reading-log'
     fxLayout="row"
     fxLayoutAlign="center center">
  <div *ngIf="userActivityDates" class='calendar' fxLayoutAlign="center none">
    <mat-card class="calendar-card">
      <mat-calendar [dateClass]="setStreakDateClass()"></mat-calendar>
    </mat-card>
  </div>
  <div class='streaks'
       fxLayout="column"
       fxLayoutAlign="center none"
       fxLayoutGap="30px"
       *ngIf="userInformation">
    <mat-card class='streak-card'>
      <mat-card-header>
        <mat-icon mat-card-avatar class='streak-icon'>whatshot</mat-icon>
        <mat-card-title>{{userInformation.currentStreak}} days</mat-card-title>
        <mat-card-subtitle>
          Current Streak
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class='streak-card'>
      <mat-card-header>
        <mat-icon mat-card-avatar class='streak-icon longest'>whatshot</mat-icon>
        <mat-card-title>{{userInformation.longestStreak || 0}} days</mat-card-title>
        <mat-card-subtitle>
          Longest Streak
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>

<div class="tabs-container">
  <ul class="tabs"
      fxLayout="row"
      fxLayoutAlign="start center">
    <li [ngClass]="[router.isActive(USER_DASHBOARD_ROUTE, matchOptions) ? 'selected' : '']">
      <a class="tab"
         [routerLink]="[USER_DASHBOARD_ROUTE]"
         routerLinkActive="selected"
         [routerLinkActiveOptions]="{exact: true}"
         (click)="onClickNavigate(USER_DASHBOARD_ROUTE)"
      >Overview</a>
    </li>
    <li [ngClass]="[router.isActive(USER_DASHBOARD_TROPHY_ROUTE, matchOptions) ? 'selected' : '']">
      <a class="tab"
         [routerLink]="[USER_DASHBOARD_TROPHY_ROUTE]"
         routerLinkActive="selected"
         [routerLinkActiveOptions]="{exact: true}"
         (click)="onClickNavigate(USER_DASHBOARD_TROPHY_ROUTE)"
      >Trophy Case</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
