<div class="table-container">
  <h2>Leaderboards</h2>

  <mat-button-toggle-group
    class="buttons"
    name="rankBy"
    aria-label="Rank By"
    value="rankByMinutesColumns"
  >
    <mat-button-toggle (click)="onButtonClick(LEADERBOARDS_GLOBAL_MINUTES_ROUTE)" value="rankByMinutes">Minutes</mat-button-toggle>
    <mat-button-toggle (click)="onButtonClick(LEADERBOARDS_GLOBAL_BOOKS_ROUTE)" value="rankByBooks">Books</mat-button-toggle>
    <mat-button-toggle (click)="onButtonClick(LEADERBOARDS_GLOBAL_POINTS_ROUTE)" value="rankByPoints">Points</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-divider></mat-divider>

  <div class="leaderboard-table">
    <router-outlet></router-outlet>
  </div>
</div>
