@import "styles";

.content-header {
  padding: 10px 20px;
  border-bottom: 2px solid $light1;

  button {
    margin: 0 7%;
  }

  .header-title {
    margin: 0 7%;
    padding: 20px 0;

    span {
      font-size: 2em;
      font-weight: 600;
      color: $dark-green;
    }
  }
}


.challenges-container {
  margin: 20px 7%;

  .challenge {
    border-radius: 7px;
    margin: 10px;
    padding: 10px 0;
    border: 1px solid grey;

    img {
      padding: 5px;
      border-radius: 50%;
      width: 60%;
      height: 60%;
    }

    .information {

      .challenge-title {
        font-weight: 500;
      }

      .challenge-instructions {
        height: 40px;
        text-align: center;
        font-weight: 300;
        font-size: 13px;
      }
    }
  }
}


.grey-border {
  border-radius: 50%;
  border: 5px solid grey;
}

.green-border {
  border-radius: 50%;
  border: 5px solid green;
}
.green-text {
  font-weight: 500;
  color: green;
}

.status {
  height: 15px;
  font-size: 12px;
}
