@import 'styles';

::ng-deep {
  .mat-mdc-fab .mdc-button__label {
    font-size: 12px !important;
  }
}

.container {
  background: rgb(231,231,231,0.3);
  border-radius: 7px;
  border: 1px solid $light1;
  padding: 40px;
  margin: 2% 10% 0 10%;
  height: auto;

  .content {
    width: 85%;
    margin-left: 10%;

    .category {
      padding: 10px 0;
      color: $dark-blue;
      font-weight: 400;
    }

    .header {
      padding: 10px 0;
      line-height: 20px;

      .title {
        padding: 5px 0;
        font-weight: 500;
        font-size: 1.5em;
      }

      .author {
        padding: 5px 0 0 0;
        font-weight: 400;
        font-size: 0.9em;
      }

      .rating {
        padding-top: 10px;

        .wishlist-button {
          height: 40px;
          line-height: 40px;
          width: 40px;
        }

        .rating-stars {

        }
      }
    }

    .details {
      margin-top: 2%;

      .description {
        .description-item {
          .description-title {
            font-weight: 500;
            font-size: 0.9em;
          }

          .description-text {
            font-size: 1.1em;
          }
        }
      }

      .qr-code-container {
        margin-top: 1em;
      }
    }
  }

  .settings {
    position: fixed;
    top: 4.3em;
    right: 0;
    width: 8%;
  }
}
