<div class="wrapper"
     fxLayout="row"
     fxLayoutAlign="space-between none">
  <div class="menu">
    <div class="header-tab"
         fxLayout="row"
         fxLayoutAlign="center none">
      <div class="tab-title active"
           (click)="onTabRedirect('bookshelves')">
        <span>Bookshelves</span>
      </div>
      <div class="tab-title"
           (click)="onTabRedirect('categories')">
        <span>Categories</span>
      </div>
    </div>

    <mat-tab-group class="invisible-tabs">
      <mat-tab>
        <div class="menu-list" *ngIf="bookshelves">
          <mat-list>
            <mat-list-item
              *ngFor="let key of getBookshelfKeys()"
              (click)="scrollToBookshelf(key, bookshelves[key].id)"
            >
              <mat-icon matListItemIcon>collections_bookmark</mat-icon>
              <span matListItemTitle
                    class="title-list-item"
                   [matTooltip]="key"
              >{{key}}</span>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="books">
    <router-outlet></router-outlet>
  </div>
</div>

