<!-- TOP BAR  -->
<app-top-bar></app-top-bar>

<!-- CONTENTS  -->
<div class='banner'>
  <img src='assets/home/books_background.jpg' alt=''>
</div>

<!-- Top Section cu trending -->
<app-trending-section></app-trending-section>

<!-- Section cu trending 4 Genuri-->
<div class='collections' fxLayout="column" fxLayoutAlign="space-between none" fxLayoutGap='30px'>
  <span class='header'>Recommended book collections</span>
  <div class='first-row' fxLayout="row" fxLayout.md='column' fxLayoutAlign="space-around center"  >
    <div class='collection-item'>
      <img alt='' src='https://media.bookster.ro/collection-sm/29fdf0bdba/b5ae158105db4496afab5ce7885d3fec.png' >
      <div class='collection-description'>
        dasfasdgasdgads
      </div>
    </div>
    <div class='collection-item'>
      <img alt='' src='https://media.bookster.ro/collection-sm/0f63f8d78c/da38aeb4051a4b098ae07df66a2b3c8b.png' >
    </div>
  </div>

  <div class='second-row' fxLayout="row" fxLayout.md='column' fxLayoutAlign="space-around center" >
    <div class='collection-item'>
      <img alt='' src='https://media.bookster.ro/collection-sm/0f63f8d78c/63ef0d6e9f2246d28f6c8dfb286a58fa.png' >
    </div>
    <div class='collection-item'>
      <img alt='' src='https://media.bookster.ro/collection-sm/0f63f8d78c/617fcca55d7f4a879b2bedb1875102f3.png' >
    </div>
  </div>
</div>


<!-- Alte carti recomandate -->
<div>

</div>

<!-- Button catre toate cartile (route Explore) -->
<div>

</div>
