<div class="trophies-in-progress-container"
     fxLayout="column"
     fxLayoutAlign="center none"
     fxLayoutGap="20px"
     *ngIf="trophiesInProgress"
>
 <div class="container-header">Your Challenges in progress</div>
  <div class="categories"
       fxLayout="column"
       fxLayoutAlign="space-between center"
       fxLayoutGap="3%"
  >
    <ng-container *ngIf="!hasEmptyData(trophiesInProgress)">
      <ng-container  *ngFor="let categoryTitle of Object.keys(trophiesInProgress)">
        <ng-container *ngIf="!hasEmptyData(trophiesInProgress[categoryTitle])">
          <div class="category">
              <div class="category-title"><span> {{categoryTitle}} </span></div>

              <div class="challenges"
                   fxLayout="row wrap"
                   fxLayout.xs="column"
                   fxLayoutAlign="start center"
              >
                <div class="challenge"
                     fxFlex="23%"
                     fxFlex.xs="100%"
                     fxLayout="column"
                     fxLayoutAlign="space-between center"
                     fxLayoutGap="10px"
                     *ngFor="let trophy of (trophiesInProgress[categoryTitle])"
                >
                  <img class="grey-border" [src]=trophy.imageSrcPath alt="badge">
                  <div class="information"
                       fxLayout="column"
                       fxLayoutAlign="space-between center"
                       fxLayoutGap="10px"
                  >
                    <span class="challenge-title">{{trophy.title}}</span>
                    <span class="challenge-instructions">{{trophy.instructions}}</span>
                  </div>

                  <button mat-stroked-button
                          color="warn"
                          title="Leave Challenge"
                          (click)="leaveChallenge(trophy.id)"
                  >
                    Leave Challenge
                  </button>
                </div>
              </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="hasEmptyData(trophiesInProgress)">
      <span>No challenges in progress.</span>
    </ng-container>
  </div>
</div>

<div class="readings-in-progress-container"
     fxLayout="column"
     fxLayoutAlign="center none"
     fxLayoutGap="20px"
>
  <div class="container-header">Your Reading Books In Progress</div>
  <ng-container *ngIf="!hasEmptyData(booksInProgress)">
    <app-books-carousel
      [booksSlides]="booksInProgress"
      [clickableHeaderTitle]="false"
      [showTopNumbers]="false"
    ></app-books-carousel>
  </ng-container>
  <ng-container *ngIf="hasEmptyData(booksInProgress)">
    <span>No books in progress.</span>
  </ng-container>
</div>

<div style="height:50px;">

</div>
