<mat-card class="level-container"
          fxLayout="column" fxLayoutAlign="center none">
  <div class="progress-details-title">Current level</div>
  <div class="level-title">{{ userStats.level }}</div>
  <div class="points-container"
       fxLayout="column" fxLayoutAlign="center center" >
    <div class="progress-details-subtitle">Current points</div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="points-icon">
        <mat-icon>star</mat-icon>
      </div>
      <div class="points-value">{{ userStats.points }}</div>
      <div class="points-icon">
        <mat-icon>star</mat-icon>
      </div>
    </div>
  </div>

  <div class="level-hierarchy" *ngIf="levels">
    <h3>Hierarchy</h3>
    <mat-list>
      <ng-container *ngFor="let level of levels; let i = index">
        <mat-list-item [ngClass]="{ 'active': level.minPoints <= userStats.points, 'item-content': true }">
          <div class="level-content"
               fxLayout="column"
               fxLayoutAlign="center center">
            <div class="level-progress-bar"></div>
            <div class="level-name">{{ level.name }}</div>
            <div class="level-points">{{ level.minPoints }} points</div>
            <ng-container>
              <div class="divider"></div>
            </ng-container>

            <ng-container *ngIf="i == levels.length - 1">
              <div class="congratulations">
                Congratulations! You have reached the highest level!
              </div>
            </ng-container>
          </div>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
</mat-card>
