<!-- SCREEN VIEW -->
<mat-toolbar [ngClass]="hasSideNavBar ? 'hasNavBar' : ''"
             fxShow="true" fxShow.lt-md="false"
            fxLayout="row" fxLayoutAlign="space-between center"
  >
  <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap='20'
       [ngClass]="!hasSideNavBar ? 'text' : ''">
      <a class="link"
         [routerLink]="[HOME_ROUTE]"
         (click)="onClickItemNavigate(HOME_ROUTE)"
      >Home</a>
      <a class="link"
         [routerLink]="[EXPLORE_ROUTE]"
         (click)="onClickItemNavigate(EXPLORE_ROUTE)"
      >Explore</a>
      <a class="link"
         [routerLink]="[CHALLENGES_ROUTE]"
         (click)="onClickItemNavigate(CHALLENGES_ROUTE)"
      >Challenges</a>
    <a class="link"
       [routerLink]="[LEADERBOARDS_ROUTE]"
       (click)="onClickItemNavigate(LEADERBOARDS_ROUTE)"
    >Leaderboards</a>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center">

    <form class="search-bar" (submit)="onSubmitPreventRefresh($event)">
      <mat-form-field class="search-bar-custom"
                      appearance="outline"
                      color="accent"
                      subscriptSizing="dynamic">
        <input
          matInput
          placeholder="Search your next reading"
          [matAutocomplete]="searchBarAuto"
          [formControl]="searchCtrl"
          (keydown)="filterOnEnter($event)"
        />
        <mat-autocomplete #searchBarAuto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="{type: option.type, id: option.id}"
          >
            <div class="item-details" fxLayout="row" fxLayoutAlign="start center">
              <img alt="" class="item-img" [src]="getImageUrl(option.coverImageUrl, option.type)" height="25" />

              <div fxLayout="column" fxLayoutAlign="start none">

                <ng-container *ngIf="option.type === 'Author'">
                  <span class="item-title author-type-title">{{option.name}}</span>
                </ng-container>
                <ng-container *ngIf="option.type === 'Book'">
                  <span class="item-title">{{option.title}}</span>
                </ng-container>

                <ng-container *ngIf="option.type === 'Author'">
                  <span class="item-type">{{option.type}}</span>
                </ng-container>
                <ng-container *ngIf="option.type === 'Book'">
                  <span class="book-description">
                    <span class="item-type">{{option.type}}</span>
                    <span> by {{option.author.name}}</span>
                  </span>
                </ng-container>

              </div>
            </div>
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix class="black-icon" color="accent">search</mat-icon>
      </mat-form-field>
    </form>

    <div fxLayout="row" fxLayoutAlign="space-around none" class='top-bar-icons'>
      <button *ngIf='hasFullscreenMode'
              (click)='toggleFullscreen()'
              mat-icon-button aria-label="fullscreen">
        <mat-icon>fullscreen</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onProfileClick()">
          <mat-icon>face</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="onLogoutCLick()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<!-- MOBILE VIEW -->
<mat-toolbar [ngClass]="hasSideNavBar ? 'hasNavBar mobile-bar' : 'mobile-bar'"
             fxShow="false" fxShow.lt-md="true"
             fxLayout="column" fxLayoutAlign="center none"
>
  <div fxLayout="row" fxLayoutAlign="space-around center"
       [ngClass]="!hasSideNavBar ? 'text' : ''">
    <div fxLayout="column" fxLayoutAlign="center center"
         [routerLink]="[HOME_ROUTE]"
         (click)="onClickItemNavigate(HOME_ROUTE)">
       <mat-icon>home</mat-icon>
      <span class="mobile-link">Home</span>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center"
         [routerLink]="[EXPLORE_ROUTE]"
         (click)="onClickItemNavigate(EXPLORE_ROUTE)">
      <mat-icon>explore</mat-icon>
      <span class="mobile-link">Explore</span>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center"
         [routerLink]="[CHALLENGES_ROUTE]"
         (click)="onClickItemNavigate(CHALLENGES_ROUTE)">
      <mat-icon>emoji_events</mat-icon>
      <span class="mobile-link">Challenges</span>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center"
         [routerLink]="[LEADERBOARDS_ROUTE]"
         (click)="onClickItemNavigate(LEADERBOARDS_ROUTE)">
      <mat-icon>people</mat-icon>
      <span class="mobile-link">Leaderboards</span>
    </div>

    <div *ngIf='hasFullscreenMode'
         fxLayout="column" fxLayoutAlign="center center"
         (click)='toggleFullscreen()'>
      <mat-icon>fullscreen</mat-icon>
      <span class="mobile-link">Fullscreen</span>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onProfileClick()">
        <mat-icon>face</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="onLogoutCLick()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>

  <form class="search-bar" (submit)="onSubmitPreventRefresh($event)" fxLayout="column" fxLayoutAlign="center none">
    <mat-form-field class="search-bar-field"
                    appearance="outline"
                    color="accent"
                    subscriptSizing="dynamic">
      <input
        matInput
        placeholder="Search your next reading"
        [matAutocomplete]="searchBarAuto"
        [formControl]="searchCtrl"
        (keydown)="filterOnEnter($event)"
      />
      <mat-autocomplete #searchBarAuto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="{type: option.type, id: option.id}"
        >
          <div class="item-details" fxLayout="row" fxLayoutAlign="start center">
            <img alt="" class="item-img" [src]="getImageUrl(option.coverImageUrl, option.type)" height="25" />

            <div fxLayout="column" fxLayoutAlign="start none">

              <ng-container *ngIf="option.type === 'Author'">
                <span class="item-title author-type-title">{{option.name}}</span>
              </ng-container>
              <ng-container *ngIf="option.type === 'Book'">
                <span class="item-title">{{option.title}}</span>
              </ng-container>

              <ng-container *ngIf="option.type === 'Author'">
                <span class="item-type">{{option.type}}</span>
              </ng-container>
              <ng-container *ngIf="option.type === 'Book'">
                  <span class="book-description">
                    <span class="item-type">{{option.type}}</span>
                    <span> by {{option.author.name}}</span>
                  </span>
              </ng-container>

            </div>
          </div>
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix class="black-icon" color="accent">search</mat-icon>
    </mat-form-field>
  </form>

</mat-toolbar>
