<mat-toolbar
  fxLayout="row" fxLayoutAlign="space-between center"
  [ngClass]="hasSideNavBar ? 'hasNavBar' : ''">
  <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap='20'
       [ngClass]="!hasSideNavBar ? 'text' : ''">
      <a class="link"
         [routerLink]="[HOME_ROUTE]"
         (click)="onClickItemNavigate(HOME_ROUTE)"
      >Home</a>
      <a class="link"
         [routerLink]="[EXPLORE_ROUTE]"
         (click)="onClickItemNavigate(EXPLORE_ROUTE)"
      >Explore</a>
      <a class="link"
         [routerLink]="[CHALLENGES_ROUTE]"
         (click)="onClickItemNavigate(CHALLENGES_ROUTE)"
      >Challenges</a>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around none" class='top-bar-icons'>
    <button *ngIf='hasFullscreenMode'
      (click)='toggleFullscreen()'
            mat-icon-button aria-label="fullscreen">
      <mat-icon>fullscreen</mat-icon>
    </button>

    <button (click)='openNotifications()'
            mat-icon-button aria-label="notification">
      <mat-icon>notifications_none</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onProfileClick()">
        <mat-icon>face</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="onSettingsClick()">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="onLogoutCLick()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
