<div class='background-img'>
  <div class='contents' fxLayout="column" fxLayoutAlign="space-between none">
    <div class='top-bar'>
      <div class='top-bar-blur'></div>
      <div class='top-bar-contents' fxLayout='row' fxLayoutAlign="space-between center">
        <!-- Icon TODO add it  -->
        <p (click)="onLogoClick()">LOGO HERE</p>
        <button class='stroked-button' (click)='onLoginClick()'>Login</button>
      </div>
    </div>
    <router-outlet></router-outlet>
    <div class='colored-footer'></div>
  </div>
</div>
