<div class="content-header">
  <div class="header-title"
       fxLayout="column"
       fxLayoutAlign="center center"
  >
    <span>Join challenges in order to earn super badges!</span>
  </div>

  <div class="header-categories">
    <mat-chip-listbox aria-label="Badge selection">
      <mat-chip-option (click)="onChipClickScroll('reading-books-div')">Reading Books</mat-chip-option>
      <mat-chip-option (click)="onChipClickScroll('reading-time-div')">Reading Time</mat-chip-option>
      <mat-chip-option (click)="onChipClickScroll('category-reader-div')">Category reader</mat-chip-option>
      <mat-chip-option (click)="onChipClickScroll('activities-div')">Activities</mat-chip-option>
    </mat-chip-listbox>
  </div>
</div>

<div class="categories"
     fxLayout="column"
     fxLayoutAlign="space-between center"
     fxLayoutGap="3%"
>
  <div class="category"
       *ngFor="let categoryTitle of Object.keys(challenges)"
       [id]=challenges[categoryTitle].htmlId
  >
    <div class="category-title">
      <span> {{categoryTitle}} </span>
      <span class="category-see-more" (click)="onClickSeeMore(categoryTitle)"> See more...</span>
    </div>

    <div class="challenges"
         fxLayout="row wrap"
         fxLayout.xs="column"
         fxLayoutAlign="start center"
    >
      <div class="challenge"
           fxFlex="23%"
           fxFlex.xs="100%"
           fxLayout="column"
           fxLayoutAlign="space-between center"
           fxLayoutGap="10px"
           *ngFor="let trophy of (challenges[categoryTitle].trophies)"
      >
        <img [ngClass]="true ? 'grey-border' : 'green-border'" [src]=trophy.imageSrcPath alt="badge">

        <div class="information"
             fxLayout="column"
             fxLayoutAlign="space-between center"
             fxLayoutGap="10px"
        >
          <span class="challenge-title">{{trophy.title}}</span>
          <span class="challenge-instructions">{{trophy.instructions}}</span>
        </div>

        <button mat-stroked-button
                color="primary"
                [disabled]="!true"
                (click)="onJoinChallengeClick(trophy.id)"
        >Join Challenge</button>
      </div>
    </div>
  </div>
</div>
