// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$licenta-primary: mat.define-palette(mat.$indigo-palette);
$licenta-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$licenta-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$licenta-theme: mat.define-light-theme((
  color: (
    primary: $licenta-primary,
    accent: $licenta-accent,
    warn: $licenta-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($licenta-theme);

/* You can add global styles to this file, and also import other style files */

// regular style toast
@import 'ngx-toastr/toastr';


$light1: #e7e7e7;
$light2: #E1C7A2;
$light3: #BEAF98;
$medium-light1: #A7906F;
$medium-light2: #986C41;
$dark-black: #0D1713;
$dark-blue: #4D7F7B;
$dark-green: #4F5949;
$dark-green-RGBA: rgba(79, 89, 73, 1);
$light-orange: #FFA500;

// ACCESSIBILITY
$sepia: #fffeda;
$iron: #3d3b49;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// ------------------ LANDING PAGE BUTTON ------------------
.stroked-button {
  background-color: transparent;
  border: 3px solid $dark-green;
  border-radius: 5px;
  color: $dark-green;
  font-size: 1.2em;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $dark-green;
    color: white;
  }
}


/* side nav bar */
.card {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 .25rem .5rem #e6edef;

  .card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
  }

  .card-body {
    padding: 1rem 1.5rem;
  }
}


.bg_color_1 {
  background-color: #72a5da;
}

.bg_color_2 {
  background-color: #a7746f;
}

.bg_color_3 {
  background-color: #ea8a5f;
}

.bg_color_4 {
  background-color: #dfba69;
}

.bg_color_5 {
  background-color: #9089a3;
}

.bg_color_6 {
  background-color: #608f5c;
}

.bg_color_7 {
  background-color: #F1C6B3FF;
}

.bg_color_8 {
  background-color: #72a5da;
}

.bg_color_9 {
  background-color: #b95454;
}
