.reading-section {
  min-height: 100vh;
  height: auto;

  .reading-content {
    width: 92%;
    border: 2px solid blue;

    .content {
      padding: 0 5%;
    }
  }

  .settings {
    position: fixed;
    top: 4.3em;
    right: 0;
    width: 8%;
  }
}
