@import 'styles';

form {
  width: 100%;

  mat-form-field {
    width: 75%;
  }

  mat-error {
    font-size: 0.8em;
  }
}


.register-container {
  border-radius: 20px;
  margin: 0 15%;
  background: white;
  height: 60vh;
  padding: 20px;

  p {
    font-size: 1.3em;
  }

  .register-stepper {
    width: 90%;
    height: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  .register-container {
    height: 90vh;
    p {
      font-size: 1em;
    }
  }

  .mat-step-header .mat-step-label .mat-step-text-label {
    font-size: 0.8em;
  }
}
